* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --bg: hsl(0, 100%, 100%);
  --color-input: hsl(212, 12%, 71%);
  --bg-button: hsl(278, 68%, 11%);
  --white: hsl(0, 100%, 100%);
  --bg-rounded: 6px;
}

main {
  display: flex;
  background-color: var(--bg);
}

aside {
  background-image: url(/images/bg-main-desktop.png);
  width: calc(100vw / 3);
  height: 100vh;
  position: relative;
}

.front-card,
.nr-card,
.expire,
.name,
.back-card,
.back-card span {
  position: absolute;
}

.front-card {
  width: 430px;
  height: 230px;
  background-image: url(/images/bg-card-front.png);
  border-radius: var(--bg-rounded);
  top: 126px;
  left: 114px;
}

.nr-card {
  font-size: 35px;
  color: var(--white);
  top: 50%;
  left: 9%;
}

.expire {
  color: white;
  top: 78%;
  left: 82%;
}

.name {
  color: white;
  top: 78%;
  left: 5%;
}

.back-card {
  width: 430px;
  height: 230px;
  background-image: url(/images/bg-card-back.png);
  border-radius: var(--bg-rounded);
  top: 378px;
  left: 170px;
}

.back-card span {
  color: var(--white);
  top: 48%;
  left: 81%;
}

section {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 16.6875rem;
  margin-left: clamp(30%, 420px, 420px);
  margin-top: 218px;
}

input {
  padding: 0.8rem;
  height: calc(43px - 1.6rem);
  margin-bottom: 1.075rem;
  margin-top: 0.4rem;
  border: solid 1px var(--color-input);
  border-radius: var(--bg-rounded);
}

.error input:invalid {
  border: solid 1px red;
}

.error-month, .card-number-error, .cardholder-name-error {
  color: red;
  font-size: 12px;
  margin-top: 0;
}

::-webkit-input-placeholder {
  color: var(--color-input);
}

::-moz-input-placeholder {
  color: var(--color-input);
}

::-ms-input-placeholder {
  color: var(--color-input);
}

label {
  font-size: 12px;
  font-weight: bold;
}

.label label:last-child {
  margin-left: 2rem;
}

.input {
  display: flex;
  gap: 0.36rem;
}

.input input {
  width: 1.975rem;
}

#cvv {
  width: 6.4rem;
  margin-left: 0.40rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

button {
  background-color: var(--bg-button);
  border-radius: var(--bg-rounded);
  color: var(--white);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 0.6rem;
  font-size: 18px;
}

.completed {
  display: flex;
  align-items: flex-start;
}

section div:last-child {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 218px;
  margin-left: 420px;
}

.completed h1 {
  margin-top: 30px;
}

.completed p {
  margin-top: 20px;
  color: var(--color-input);
}

.completed button {
  margin-top: 50px;
  width: 320px;
}

@media screen and (width <=992px) {
  main {
    display: flex;
    flex-direction: column;
  }

  aside {
    width: 101%;
    height: calc(100vh / 3);
    background-image: url(/images/bg-main-mobile.png);
  }

  .front-card,
  .back-card {
    width: 400px;
    height: 200px;
  }

  .front-card {
    top: 52%;
    left: 29%;
    z-index: 10;
  }

  .back-card {
    top: 9%;
    left: 37%;
  }

  .back-card span {
    top: 55%;
    left: 85%;
  }

  section {
    display: flex;
    justify-content: center;
    margin-top: 116px;
  }

  .completed {
    align-items: center;
  }

  form,
  .completed div:last-child {
    margin: 0;
  }

}

@media screen and (width <=768px) {

  .front-card,
  .back-card {
    width: 350px;
    height: 200px;
  }

  .front-card {
    top: 55%;
    left: 6%;
  }

  .back-card {
    left: 12%;
  }

  .nr-card {
    font-size: 30px;
  }
}