* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  --bg: hsl(0, 100%, 100%);
  --color-input: hsl(212, 12%, 71%);
  --bg-button: hsl(278, 68%, 11%);
  --white: hsl(0, 100%, 100%);
  --bg-rounded: 6px;
}

main {
  display: flex;
  background-color: var(--bg);
}

aside {
  background-image: url(/images/bg-main-desktop.png);
  width: calc(100vw / 3);
  height: 100vh;
  position: relative;
}

.front-card {
  width: 430px;
  height: 230px;
  background-image: url(/images/bg-card-front.png);
  border-radius: var(--bg-rounded);
  position: absolute;
  top: 18%;
  left: 45%;
}

.nr-card {
  font-size: 35px;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 9%;
}

.expire {
  color: white;
  position: absolute;
  top: 78%;
  left: 82%;
}

.name {
  color: white;
  position: absolute;
  top: 78%;
  left: 5%;
}

.back-card {
  width: 430px;
  height: 230px;
  background-image: url(/images/bg-card-back.png);
  border-radius: var(--bg-rounded);
  position: absolute;
  top: 56%;
  left: 65%;
}

.back-card span {
  color: var(--white);
  position: absolute;
  top: 48%;
  left: 81%;
}

section {
  width: 100%;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 16.6875rem;
  margin-left: 50%;
}

input {
  padding: 0.4rem;
  height: 1rem;
  margin-bottom: 1.075rem;
  margin-top: 0.4rem;
  border: solid 1px var(--color-input);
  border-radius: var(--bg-rounded);
}

::-webkit-input-placeholder {
  color: var(--color-input);
}

::-moz-input-placeholder {
  color: var(--color-input);
}

::-ms-input-placeholder {
  color: var(--color-input);
}

label {
  font-size: 12px;
  font-weight: bold;
}

.label label:last-child {
  margin-left: 2rem;

}

.input {
  display: flex;
  gap: 0.36rem;
}

.input input {
  width: 2.575rem;
}

#cvv {
  width: 7rem;
  margin-left: 0.90rem;
}

button {
  background-color: var(--bg-button);
  border-radius: var(--bg-rounded);
  color: var(--white);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: 0.6rem;
}